@using Kurdemir.BL.ViewModels.DoctorVMs
@model List<DoctorReadVm>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

	<!-- Main Content -->
	<div id="content">

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Kurdemir Hospital Management System Admin</h1>
			<p class="mb-4">Doctors</p>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex justify-content-between align-items-center">
					<h6 class="m-0 font-weight-bold text-primary">Departments Table</h6>
					<a class="btn btn-success" asp-area="admin" asp-controller="Doctor" asp-action="Create">+ Create</a>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Id</th>
									<th>Image</th>
									<th>FullName</th>
									<th>UserName</th>
									<th>Gender</th>
									<th>Email</th>
									<th>Department</th>
									<th>IsDelete-DeleteTime</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var doctor in Model)
								{
									<tr>
										<td>@doctor.Id</td>
										<td><img class="img-fluid" src="~/Upload/image/Doctor/@doctor.ImgUrl" alt="" height="60" width="60"></td>
										<td>@doctor.Firstname @doctor.Lastname</td>
										<td>@doctor.Username </td>
										<td>@doctor.Gender</td>
										<td>@doctor.Email</td>
										<td>@doctor.DepartmentName</td>
										@if (doctor.DeleteTime == null)
										{

											<th>@doctor.IsDelete - </th>

										}
										else
										{
											<th>@doctor.IsDelete - @doctor.DeleteTime</th>
										}
										<td>
											<a class="btn btn-primary btn-sm" asp-area="admin" asp-controller="Doctor" asp-action="Update" asp-route-id="@doctor.Id">Update</a>
											<a class="btn btn-danger btn-sm" asp-area="admin" asp-controller="Doctor" asp-action="Delete" asp-route-id="@doctor.Id">Delete</a>
											@if (doctor.IsDelete)
											{
												<a class="btn btn-info btn-sm" asp-area="admin" asp-controller="Doctor" asp-action="SoftDelete" asp-route-id="@doctor.Id">
													SoftDelete
												</a>
											}
											else
											{
												<a class="btn btn-warning btn-sm" asp-area="admin" asp-controller="Doctor" asp-action="SoftDelete" asp-route-id="@doctor.Id">
													SoftDelete
												</a>

											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
